* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  width: 100vw;
  max-width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
header nav {
  width: 100vw;
  max-width: 960px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
ul li {
  list-style: none;
  padding: 30px 0;
}
ul li a {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}
.container-fluid-planty {
  width: 100vw;
  max-width: 100%;
  height: auto;
  margin-bottom: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-fluid-planty .container-fluid-planty-content {
  width: 100vw;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-fluid-planty-content-image {
  width: 410px;
  height: 805px;
  position: relative;
}
.container-fluid-planty-content-image .img-top {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 570px;
  height: 775px;
  /*z-index:-1;*/
}
.container-fluid-planty-content-image .img-mobile {
  position: absolute;
  left: -60px;
  bottom: -130px;
  height: 740px;
  width: 404px;
  /*z-index: 2;*/
}
.container-fluid-planty-content-image div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 570px;
  height: 775px;
  border: 5px solid #b6dac7;
  /*z-index: 1;*/
}
.container-fluid-planty-content-text {
  width: 550px;
  height: 805px;
  padding: 160px 0px 0px 45px;
  position: relative;
}
.container-fluid-planty-content-text .text-label {
  position: relative;
}
.container-fluid-planty-content-text .text-label img {
  width: 500px;
}
.container-fluid-planty-content-text .text-label p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Montserrat', sans-serif;
  font-style: bold;
  font-size: 18px;
  color: #000000;
}
.container-fluid-planty-content-text .text-label + p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #000000;
  margin-top: 45px;
  margin-bottom: 85px;
}
.container-fluid-planty-content-text button {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  background: #acceb7;
  width: 500px;
  height: 70px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Muli', sans-serif;
}
.container-fluid-quote {
  width: 100vw;
  max-width: 100%;
  height: 460px;
  background: url("bg@2x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container-fluid-quote .container-fluid-quote-content {
  width: 100vw;
  max-width: 960px;
  height: 460px;
  position: relative;
}
.container-fluid-quote .container-fluid-quote-content p {
  position: absolute;
  bottom: 55px;
  right: 55px;
  color: #FFFFFF;
  font-size: 50px;
  font-family: 'Playfair Display', Italic;
}
.container-fluid-experts {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-fluid-experts .experts-label {
  width: 100vw;
  max-width: 960px;
  font-size: 65px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #000000;
  line-height: 70%;
  margin-top: 40px;
  margin-bottom: 45px;
}
.container-fluid-experts .container-fluid-experts-content {
  width: 100vw;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.box-one {
  position: relative;
  width: 440px;
  height: 275px;
  border: 5px solid #b7dbc8;
  padding: 40px 0px 0px 90px;
  margin: 0px 0px 0px 55px;
}
.box-one p:nth-child(1) {
  font-size: 40px;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: #000000;
}
.box-one p:nth-child(2) {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  color: #000000;
  margin-bottom: 45px;
}
.box-one p:nth-child(3) {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: #000000;
}
.box-one img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  border: 5px solid #b7dbc8;
  border-radius: 50%;
  width: 140px;
}
.box-two {
  position: relative;
  top: 120px;
  left: 15px;
  border: 5px solid #b7dbc8;
  width: 440px;
  height: 275px;
  padding: 40px 0px 0px 90px;
}
.box-two p:nth-child(1) {
  font-size: 40px;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: #000000;
}
.box-two p:nth-child(2) {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  color: #000000;
  margin-bottom: 45px;
}
.box-two p:nth-child(3) {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: #000000;
}
.box-two img {
  border: 5px solid #b7dbc8;
  border-radius: 50%;
  width: 140px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}
.container-fluid-contact {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-fluid-contact .container-fluid-contact-content {
  width: 100vw;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contact-label {
  width: 100vw;
  max-width: 960px;
  margin-bottom: 50px;
}
.contact-label p {
  font-size: 65px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #000000;
  line-height: 70%;
  margin: 75px 0px 0px 0px;
}
form {
  width: 505px;
  max-width: 505px;
  height: 585px;
  display: flex;
  justify-content: none;
  align-items: none;
  flex-direction: column;
}
form input {
  display: block;
  width: 450px;
  height: 45px;
  border: 2px solid #000000;
}
form label {
  display: block;
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  color: #000000;
  margin-bottom: 9px;
  margin-top: 40px;
}
form #name {
  margin-top: 0px;
}
form textarea {
  width: 450px;
  height: 145px;
  border: 2px solid #000000;
  resize: none;
  margin-bottom: 90px;
}
form button {
  background: #acceb7;
  color: white;
  width: 450px;
  height: 75px;
  border: 0;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}
.container-fluid-contact-conten-image {
  position: relative;
  width: 455px;
  height: 585px;
}
.container-fluid-contact-conten-image img {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 415px;
  height: 585px;
}
.container-fluid-contact-conten-image .container-fluid-contact-conten-image-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 415px;
  height: 585px;
  border: 5px solid #acceb7;
}
footer {
  background: #acceb7;
  width: 100vw;
  max-width: 100%;
  height: 130px;
  margin: 225px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer .footer-content {
  width: 100vw;
  max-width: 960px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
footer .footer-content p {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
.img-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.img-footer img {
  width: 65px;
}
.img-footer img:nth-child(2) {
  margin: 0px 25px;
}
@media only screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .container-fluid-planty .container-fluid-planty-content {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
  }
  .container-fluid-planty-content-image {
    width: 100vw;
  }
  .container-fluid-planty-content-text {
    padding: 160px 0px 0px 0px;
    width: 100vw;
  }
  .container-fluid-planty-content-text .text-label img {
    width: 100vw;
  }
  .container-fluid-planty-content-text .text-label p {
    font-size: 16px;
  }
  .container-fluid-planty-content-text button {
    width: 100vw;
  }
  .container-fluid-quote .container-fluid-quote-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .container-fluid-quote .container-fluid-quote-content p {
    position: initial;
    font-size: 39px;
  }
  .container-fluid-experts .container-fluid-experts-content {
    flex-direction: column;
  }
  .container-fluid-experts .experts-label {
    font-size: 45px;
  }
  .box-one {
    width: 100vw;
    margin: 0px 0px 0px 0px;
  }
  .box-two {
    width: 100vw;
    left: 0;
    top: 10px;
  }
  .container-fluid-contact .container-fluid-contact-content {
    flex-direction: column-reverse;
  }
  form {
    width: 100vw;
  }
  form input {
    width: 100vw;
  }
  form textarea {
    width: 100vw;
  }
  form button {
    width: 100vw;
  }
  .container-fluid-contact-conten-image {
    width: 100vw;
    margin: 0px 40px 0px 0px;
    overflow: hidden;
  }
  footer {
    margin-top: 50px;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content p {
    text-align: center;
  }
}
